
@using _20DTH1A_LT_WEB_BaiThuHoach_ThaiThanhDat_2000004681.Models;

<div class="container">
    <div id="khaivi">
        <h1 class="title-product-group" id="khaivi">Khai Vị</h1>
        <div class="row product-list">
            @{
                int n = 1;
                foreach (SanPham j in Common.getProductsByLoaiSP(2))
                {
                    <div class="col-md-6 col-lg-3 col-12">
                        <div class="card">
                            <div class="inner-img">
                                <img class="card-img-top" src="@j.hinhDD">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@j.tenSP</h5>
                                <p class="card-text">@j.tenSP</p>
                                <span class="cart-price">
                                    <span class="card-current-price">@j.giaBan</span>
                                </span>
                                <button type="button" data-toggle="modal" data-target="#chiTiet"
                                     onclick="chiTiet('@j.tenSP', '@j.ndTomTat', '@j.giaBan', '@j.hinhDD');"
                                        class="btn btn-success btn-add-to-cart">
                                    Thêm vào
                                    giỏ hàng
                                </button>
                            </div>
                        </div>
                    </div>
                    if (n++ >= 4)
                    {
                        break;
                    }

                }
            }
        </div>

    </div>
</div>
<!-- END KHAIVI -->